<div class="row">
  <div class="span8">
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :method => :post, :html => { :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

      <fieldset>
        <legend>Resend confirmation instructions</legend>
        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.email_field :email, :class => "input-xlarge" %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag nil, nil, :class => "control-label" %>
          <div class="controls">
            <%= f.submit "Resend confirmation instructions", :class => "btn btn-success" %>
          </div>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>

<%= render "links" %>
