<div class="about-content">
    			<h1>Which of the following issues do you believe is more important to address?</h1>
    	<div>
    		<table>
    			<div>
    			<td class="a_b_content">
    				<div>
    				<!-- <div class="lettersAB">
    					<p><span>A</span></p>
    				</div>	-->
    				<div class="a_b_line"></div>
    				<p>There is no economically incentivized mechanism to for Carbon sequestration from the atmosphere.</p>
    				</div>
    			</td>
    			
    			<td class="a_b_content">	
    				<div>
    				<!-- <div class="lettersAB">
    					<p><span>B</span></p>
    				</div>	-->
    				<div class="a_b_line"></div>
    				<p>Solar Array Efficiency is not high enough to be viabile in many scenarios.</p>
    				</div>
    			</td>
    			</div>		
    		</table>
    		<table>
    			<div>
    			<td class="button_space">
    				<div class="a_b_button">
    					<p id="letterA">A</p>
    				</div>
    			</td>
    			<td class="button_space">
    				<a class="a_b_button_rollover" href="#"> <div class="a_b_button">
    					<p id="letterB">B</p>
    				</div></a>
    			</td>
    			</div>		
    		</table>
    			
    	</div>
    </div>
    
<!-- 
<h1>Listing game_data</h1>

<table>
  <tr>
    <th>User</th>
    <th>Question</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_data.each do |game_datum| %>
  <tr>
    <td><%= game_datum.user_id %></td>
    <td><%= game_datum.question_id %></td>
    <td><%= game_datum.response_id %></td>
    <td><%= link_to 'Show', game_datum %></td>
    <td><%= link_to 'Edit', edit_game_datum_path(game_datum) %></td>
    <td><%= link_to 'Destroy', game_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game datum', new_game_datum_path %>
-->