<h1>Listing game_data</h1>

<table>
  <tr>
    <th>User</th>
    <th>Question</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_data.each do |game_datum| %>
  <tr>
    <td><%= game_datum.user_id %></td>
    <td><%= game_datum.question_id %></td>
    <td><%= game_datum.response_id %></td>
    <td><%= link_to 'Show', game_datum %></td>
    <td><%= link_to 'Edit', edit_game_datum_path(game_datum) %></td>
    <td><%= link_to 'Destroy', game_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game datum', new_game_datum_path %>
