<%= form_for(@game_result) do |f| %>
<%= hidden_field(:game_result, :question_id) %>
<% if @game_result.errors.any? %>
    <div id="error_explanation">
    	<h2><%= pluralize(@game_result.errors.count, "error") %> prohibited this game_result from being saved:</h2>

		<ul>
      		<% @game_result.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      		<% end %>
      	</ul>
    </div>
<% end %>

<div>
	<div class="game-content">
    	<div id="game_question">
    		<h1><%= @game_result.question.question %></h1>
    	</div>	
    	<% @game_result.issues.each_with_index do |issue, i| %>
          <%= fields_for :issues do |issue_fields| %>
            <%= issue_fields.hidden_field i, :value => issue.id %>
          <% end %>
    	<% end %>
      
    	<table id="issues_wrap" cellspacing="20">
        	<tr class="row1">
          		<td class="ab_label"> <div>A</div>
          		</td>
         		<td class="ab_label"> <div>B</div>
          		</td>
                      </tr>

        	<script language="javascript"> 
                    var same = false;
                    var oldQuestion = $('#game_question').html();
          		function submitForm(answer) {
                            $('#game_result_answer').val(answer);
                            $('#new_game_result').submit();
                            return false;
                          }

                        function flagIssue(id) {
                            if (confirm('Are you sure that you want flag this issue as innapropriate?')) {
                              $('#game_result_flag').val(id);
                              $('#new_game_result').submit();
                            }
                            return false;
                          }

                        function sameIssues() {
                          if (true == same) {
                                same = false;
                                $('#game_question').html(oldQuestion);
                                $('#game_result_same').val(same)
                                $('td.ab_same').toggleClass('ab_content');
                                $('td.ab_content').toggleClass('ab_same');
                              } else {
                                $('#game_question').html('<h1 class="ab_same" id="ab_sameQ">Please select which issue is better.</h1>');
                                same = true;
                                $('#game_result_same').val(same)
                                $('td.ab_content').toggleClass('ab_same');
                                $('td.ab_same').toggleClass('ab_content');
                              }
                              return false;
                        }

                        function skipIssues() {
                            $('#game_result_skip').val(true);
                            $('#new_game_result').submit();
                            return false;
                        }
        	</script> 

        	<%= f.hidden_field(:answer) %>
        	<%= f.hidden_field(:same) %>
        	<%= f.hidden_field(:skip) %>
                <input id="game_result_flag" name="flag" type="hidden" value="false" />
                                        
        	<tr class="row2"> 	
          		<% @game_result.issues.each_with_index do |issue, i| %>
              	<td class="ab_content">    
                	<%= button_to_function "#{issue.problem}", "submitForm(#{issue.id})", :class => 'ab_content' %> 
				</td>
          			<% end %>             
        	</tr>

        	<tr class="flag_row">
          		<% @game_result.issues.each do |issue| %>
          		<td>                     
                  	<%= link_to_function "FLAG <span id=\"flag_icon\">&#x2691;</span>".html_safe, "flagIssue(#{issue.id})", :name => "flag[#{issue.id}]", :class => 'flag', :confirm => "Are you sure that you want flag this issue as innapropriate?" %>
                 	
                 	<!-- <%= f.submit "flag", :name => "flag[#{issue.id}]", :value => "FLAG  <span>&#x2691;</span>".html_safe, :class => 'flag', :confirm => "Are you sure that you want flag this issue as innapropriate?" %>
                 	-->
          		</td>   
                  <% end %>
        	</tr>
    	</table>
    	<div class="skip_same_wrap">
      		<div id="same_issue">
      			<p><a class="same_issue" href="#" onclick="sameIssues(); return false;">THESE ISSUES ARE THE SAME &nbsp; <img id="same-i2" src="/SameQ.png" /></a></p>
      		</div>

        	<div id="skip_same_line"></div>
        	
        	<div id="skip_question">
        		<p><a class="skip_question" href="#" onClick="skipIssues(); return false;">SKIP THIS QUESTION &nbsp;》</a></p>  <!--<img id="skip-i1" src="/Skip_Arrow.png" />-->
        	</div>		
        	
        	<div id="results_title"> 
          		Map Your Results <span id="graph_toggle"><a id="all_data" href="#results_title" onclick="toggleGraph();">Show All Data &nbsp;</a> | <a id="my_data" href="#results_title" class="graph_toggle_highlighted" onclick="toggleGraph();">&nbsp; Show My Data</a></span>
          		<div class="results_map" id="results_placeholder"> </div>
          		<div id="graph_key">
          			<p>
          				Easy to Execute
          				<span>Difficult to Execute</span>
          			</p>
          		</div>
        	</div>
        		
		</div>
     
	</div>
	<% end %>
</div>

<script>
$('#same_issue').bind('mouseover',function(){
    $('#same-i2').data({ original:$('#same-i2').attr('src') })
    $('#same-i2').attr({ src:'/SameQ_blue.png' })
}).bind('mouseout',function(){
    $('#same-i2').attr({ src:$('#same-i2').data('original') })
})

</script>

<script type="text/javascript" src="/d3.v3.min.js"></script>
<script type="text/javascript" src="/graphs.js"></script>
