<%= nested_form_for(@issue) do |f| %>
<% if @issue.errors.any? %>
<div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      	<% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      	<% end %>
      </ul>
</div>
<% end %>
<div class="form-content">
		<h1>STATE YOUR ISSUE</h1>
		<div class='TextBoxesGroup'>
			<div class="TextBoxDiv">
				<%= f.text_area :problem, :placeholder => "Identify the Issue you are most passionate about.", :class => 'textbox', :id => 'issue_field1', :wrap => 'physical' %>
			</div>
		</div>
</div>	
	
<div class="form-content">
		<h1>CAUSES: WHAT ARE THE PROBLEMS WHICH PROVOKE THIS?</h1>
                <%= f.fields_for :causes do |cause_form| %>
              
                <%= cause_form.text_area :cause, :placeholder => "Problems leading to the Issue mentioned above.", :class => 'textbox', :id => 'causes_field1', :wrap => 'physical' %>
		
	<!--<div class="remove_box2">
    			<p><span>–</span></p>
    	</div> -->
    	<br>
		<%= cause_form.link_to_remove "Remove this Cause", :class => 'remove_box' %>
		<% end %>
		
	<!--<div class="expand_box">
    			<p><span>+</span></p>
    	</div> -->
        <%= f.link_to_add "Add a Cause", :causes, :class => 'add_cause' %>

		
</div>

<br/>
	
<div class="form-content">
		<h1>EFFECTS: WHAT ARE PROBLEMS THAT THIS CREATES?</h1>
                  <%= f.fields_for :effects do |effect_form| %>
                <%= effect_form.text_area :effect, :placeholder => "Effects of the Issue mentioned above - please list one at a time.", :class => 'textbox', :id => 'effects_field1', :wrap => 'physical' %>

	<!--<div class="remove_box2">
    		<p><span>–</span></p>
    	</div> -->
    	<br>
        <%= effect_form.link_to_remove "Remove this Effect", :class => 'remove_box' %>
        <% end %>

     <!--<div class="expand_box">
    			<p><span>+</span></p>
    	</div>-->
		<%= f.link_to_add "Add an Effect", :effects, :class => 'add_effect' %>

          
        <div class="actions">
                <%= f.submit "SUBMIT", :class => 'submit_button' %>
        </div>

</div>		
<% end %>
