<div class="login_wrap">
	<p>
		<b>Owner:</b>
    	<p><%= current_user.username %></p>
	</p>
	<br>
	<p>
  		<b>Problem:</b>
  		<p><%= @issue.problem %></p>
	</p>
	
	<br>
	
	<p>
  		<b>Causes:</b>
  		<% @issue.causes.each do |cause| %>
    	<p><%= cause.cause %></p>
  		<% end %>
	</p>
	<br>
	<p>
  		<b>Effect:</b>
  		<% @issue.effects.each do |effect| %>
    	<p><%= effect.effect %></p>
  		<% end %>
	</p>
	<br>

	<%= link_to 'Edit', edit_issue_path(@issue) %> |
	<%= link_to 'Back', new_issue_path %>

</div>