<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @issue.problem %>
</p>

<p>
  <b>Cause:</b>
  <%= @issue.cause_id %>
</p>

<p>
  <b>Effect:</b>
  <%= @issue.effect_id %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
