<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @issue.problem %>
</p>

<p>
  <b>Causes:</b>
  <% @issue.causes.each do |cause| %>
    <p><%= cause.cause %></p>
  <% end %>
</p>

<p>
  <b>Effect:</b>
  <% @issue.effects.each do |effect| %>
    <p><%= effect.effect %></p>
  <% end %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
