<div class="login_wrap">
	<h1>User Information</h1>
		<p id="notice"><%= notice %></p>
	
	<p>
	  <b>Username:</b>
	  <%= @user.username %>
	</p>
	
	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
<br />
<h1>Edit</h1>
	
			
	<%= render 'form' %>

	<!-- <%= link_to 'Show', @user %> | 
	<%= link_to 'Back', users_path %>  -->

</div>

