<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.number_field :answer %>
  </div>
  <div class="field">
    <%= f.label :same %><br />
    <%= f.check_box :same %>
  </div>
  <div class="field">
    <%= f.label :skip %><br />
    <%= f.check_box :skip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
