<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @challenge.name %>
</p>

<p>
  <b>Url:</b>
  <%= @challenge.url %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Award:</b>
  <%= @challenge.award %>
</p>

<p>
  <b>Deadline:</b>
  <%= @challenge.deadline %>
</p>

<p>
  <b>Post date:</b>
  <%= @challenge.post_date %>
</p>

<p>
  <b>Image url:</b>
  <%= @challenge.image_url %>
</p>

<p>
  <b>Rules:</b>
  <%= @challenge.rules %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
