<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :xpath %><br />
    <%= f.text_field :xpath %>
  </div>
  <div class="field">
    <%= f.label :regex %><br />
    <%= f.text_field :regex %>
  </div>
  <div class="field">
    <%= f.label :field_name %><br />
    <%= f.text_field :field_name %>
  </div>
  <div class="field">
    <%= f.label :rule_id %><br />
    <%= f.number_field :rule_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
