<div class="navbar-fixed-top">
   
   <div class="navbar-innerwrap">
                   
               <ul class="nav">

               	     <li id="menu-item-beta">*BETA*</li>
               	     <li class="nav_item" id="nav-game"><%= link_to "PLAY THE GAME", new_game_result_path %></li>
               	     <li class="nav_item" id="nav-issues"><%= link_to "SUBMIT YOUR OWN DATA", new_issue_path %></li>
               	     <li class="nav_item" id="nav-about"><%= link_to "ABOUT CAUSEROOT", about_path %></li>
               	     
               	     <% if current_user %>
                      <li class="sign-in"><%= link_to "Edit Profile", edit_user_path(current_user.id) %><span> | </span><%= link_to "Logout", :logout %></li>
		     		 <% else %>
		      		 <li class="sign-in"><%= link_to "Register", new_user_path %><span> | </span><%= link_to "Login", :login %></li>
		      		 <% end %>
               </ul>
		
   </div>
</div>

<script>

$("*").find("a[href='"+window.location.pathname+"']").each(function(){
$(this).addClass("nav").css("color", "#ffffff");

})

</script>